{% extends 'base.html' %}
{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<p>Upload Query Image for Person Re-Identification!</p>

<form action="/" method="post" enctype="multipart/form-data">
    <input type="file" multiple="" name="query" id="query">
    <input type="submit" value="Submit">
</form>


<html>
  <body>
    <h1>Video Streaming Demonstration</h1>
        <img src="{{ url_for('person_reid') }}">
  </body>
</html>
{% endblock %}